
<h1 class="display-3 text-center">To-Do App</h1>


<div class="card text-center ">
  
  <div class="card-body">
    <h5 class="card-title">
      <div class="input-group">
        <span class="input-group-text" id="addon-wrapping">✓</span>
        <input type="text" class="form-control" placeholder="Enter task" #newTaskElem [(ngModel)]="newTask" >
      </div>
    </h5>
    
    
    <button class="btn btn-outline-primary mx-auto" *ngIf="!isEdit" (click)="add(newTaskElem.value)">Add Task</button>
    
<button *ngIf="isEdit" (click)="save()" class="btn btn-outline-primary m-2">Edit Task</button>
<button *ngIf="isEdit" (click)="cancelEdit()" class="btn btn-outline-danger m-2">Cancel</button>

  </div>
  <div class="card-footer text-muted">
    <ul class="list-group">
      <li  class="list-group-item" *ngFor="let task of toDo; index as i;">
        {{task}} 
        <button (click)="removeSpecific(i)" class="btn btn-outline-danger m-2 ">Remove this task</button>
        <button (click)="edit(i)" class="btn btn-outline-primary m-2"> edit</button>
    </li>
    </ul>
  </div>
</div>

