

<h1 class="display-3 text-center">Registration</h1>
<div class="container h-100">
  <div >
    <form [formGroup]="registerform">
      <div class="form-group col-md-6">
      <label>First name</label>
      <input formControlName="firstname" class="form-control" placeholder="Enter firstname">

      <div *ngIf="this.registerform.get('firstname')?.touched">

        <small *ngIf="this.registerform.get('firstname')?.errors?.['required']" class="text-danger">enter first
          name</small>
        <small *ngIf="this.registerform.get('firstname')?.errors?.['minlength']" class="text-danger">firstname should
          have
          minimum 3 characters</small>
          </div>
        
      </div>
      <div class="form-group col-md-6">
      <label>Last name</label>
      <input formControlName="lastname" class="form-control" placeholder="Enter lastname">

      <div *ngIf="this.registerform.get('lastname')?.touched">

        <small *ngIf="this.registerform.get('lastname')?.errors?.['required']" class="text-danger">enter last
          name</small>
        <small *ngIf="this.registerform.get('lastname')?.errors?.['minlength']" class="text-danger">lastname should have
          minimum 3 characters</small>
          </div>
      </div>
      <div class="form-group col-md-6">
        <label >Mobile Number</label>
        <input type="text" class="form-control" placeholder="mobile number" formControlName="mobileno">

        <div *ngIf="this.registerform.get('mobileno')?.touched">

          <small *ngIf="this.registerform.get('mobileno')?.errors?.['required']" class="text-danger">enter mobile
            number</small>
              
          <small
            *ngIf="this.registerform.get('mobileno')?.errors?.['maxlength'] || this.registerform.get('mobileno')?.errors?.['minlength'] || this.registerform.get('mobileno')?.errors?.['pattern']"
            class="text-danger" class="text-danger">invalid mobile number</small>

        </div>

      </div>
      <!--gender-->
      <div class="form-group">
        <label>Gender</label><br>
        <input type="radio" formControlName="gender" value="male">Male
        <input type="radio" formControlName="gender" value="female">Female
      </div>
      <!--gender-->
      <div class="form-group col-md-6">
        <label for="validationCustomUsername">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="email" class="form-control col-md-6" placeholder="Email" aria-describedby="inputGroupPrepend"
            formControlName="email">
        </div>
        <div class="form-group col-md-6">
          <label for="validationCustomUsername">Date of Birth</label>
          <div class="input-group">
            
            <input type="date" class="form-control col-md-6" placeholder="date" aria-describedby="inputGroupPrepend"
              formControlName="dob">
            </div>
          </div>
          
        <div *ngIf="this.registerform.get('email')?.touched">

          <small *ngIf="this.registerform.get('email')?.errors?.['required']" class="text-danger">enter mail
            address</small>
          <small *ngIf="this.registerform.get('email')?.errors?.['email']" class="text-danger">enter valid email
            address</small>

        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="validationCustomPassword">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        
        <div *ngIf="this.registerform.get('password')?.touched">
          <small *ngIf="this.registerform.get('password')?.errors?.['required']" class="text-danger">enter
            password</small>
          <small *ngIf="this.registerform.get('password')?.errors?.['pattern']" class="text-danger">Invalid
            password</small>

        </div>
      </div>
      <div>
        Already have account?
        <a routerLink="/login">Login here</a>
      </div>


      <div class="form-group mt-3 col-md-6 text-center">
        <button (click)="register()" class="btn btn-primary" type="submit">Register</button>
      </div>
      
    </form>
  </div>
</div>
